div.OIe-tools-color {
  font-size: 0.5em;
  display: block;
  text-align: center;
  width: 40px;
  height: 35px;
  &.button {
    cursor: pointer;
  }
}
.toolsColorSample {
  width: 15px;
  height: 15px;
  text-align: center;
  display: inline-block;
}

.toolsColorTitle {
  width: 16px;
  position: relative;
}
.colorPanelWrap{
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  .toolsColorPanel {
    z-index: 10;
    position: absolute;
    bottom: 24px;
  }
}
