
.bottomBar {
  display: flex;
  border-right: none;
  height: 35px;
  padding-left: 50px;
  z-index: 1;
  background-color: var(--background-color);
  font-size: 0.5em;
  justify-content: space-evenly;
  align-items: center;


  .mode {
    min-width: 100px;
    display: inline;
  }

  select {
    font-size: 1em;
  }

  .context {
    display: inline;
  }

  .layer {
    display: inline;
  }

  .zoom {
    position: relative;
    width: 16px;
    left: -1px;
    top: 5px;
  }
}