@use "./variables";

#root, body{
  padding: 0;
  margin: 0;
  min-height: 100dvh;
}

#svgroot {
}

#canvasBackground > rect {
}

#svgroot, #canvasBackground {
  position: absolute;
  fill: white;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

*:focus {
  outline: none;
}
